<ul class="menu">  
    <lu><img src="/Imagenes/Mi proyecto (21).png" width="284" height="75"></lu>
 <li> <a href="index">Inicio </a></li>
  <li> <a href='@Url.Action("Comenzar")'>Jugar </a></li>
  <li> <a href= 'Tutorial'>Tutorial</a></li>
</ul>
</nav>
<center>


<h1>CREADORES</h1>
<p>Marcos:<br><img src="/Imagenes/macaquiri.png"> 
    <br>Desarrollador.
    <br>Pala:<br><img src="/Imagenes/palachini.jpg"> 
    <br>Diseñador.
</p>

<p>Muchas gracias por jugar.</p>
</center>

<button class="respuesta"> <a href="index">Volver</a></button>