<form action = '@Url.Action("Habitacion","Home")'>


<ul class="menu">  
    <lu><img src="/Imagenes/Mi proyecto (21).png" width="284" height="75"></lu>
 <li> <a href="#">Inicio </a></li>

  <li> <a href='@Url.Action("Comenzar")'>Jugar </a></li>
  <li> <a href= 'Tutorial'>Tutorial</a></li>
  <li> <a href="Creditos">Sobre nosotros </a></li>
</ul>
</nav>



<center>
<input type="hidden" name="sala" value="1">





<p> ¿Que cosa es que cuanto mas le quitas más grande es?</p>






<input class= "ingresar"type="text" name="clave">

<input type="button" onclick="alert('Pista1:Esta relacionado al terreno')" value="Pista">
<input type="button" onclick="alert('Pista2:Cuando se caba el tesoro, ¿Que se forma?')" value="Pista Extra">




    <input class= "respuesta"type="submit" value="Adivinar">
</center>
</form>

