<form action = '@Url.Action("Habitacion","Home")'>

<input type="hidden" name="sala" value="2">

<ul class="menu">  
    <lu><img src="/Imagenes/Mi proyecto (21).png" width="284" height="75"></lu>
 <li> <a href="#">Inicio </a></li>

  <li> <a href='@Url.Action("Comenzar")'>Jugar </a></li>
  <li> <a href= 'Tutorial'>Tutorial</a></li>
  <li> <a href="Creditos">Sobre nosotros </a></li>
</ul>
</nav>




<p> Es rico por dentro y peludo por fuera. Ofrece un liquido blanco aceitoso. ¿Que es?</p>



<input class= "ingresar"type="text" name="clave">

<input type="button" onclick="alert('Pista1: Se encuetra en las playas e islas')" value="Pista">
<input type="button" onclick="alert('Pista2: Se caracteriza por su cascara dura y fibrosa y al caer de la palmera permanece intacta.')" value="Pista Extra">



    <input class="respuesta" type="submit" value="Adivinar">
    </center>   
</form>