<ul class="menu">  
    <lu><img src="/Imagenes/Mi proyecto (21).png" width="284" height="75"></lu>
 <li> <a href="index">Inicio </a></li>

  <li> <a href='@Url.Action("Comenzar")'>Jugar </a></li>
  <li> <a href= 'Tutorial'>Tutorial</a></li>
  <li> <a href="Creditos">Sobre nosotros </a></li>
</ul>
</nav>

<center>

<h1> Reglas:</h1>

<p>El juego consiste,en base a una serie de adivinanzas, tendran que responderlas y obviamnete tendran con ello una serie de pistas para facilitarles su travesia,durante la busqueda del tesoro. 
    Tu y los demas tripulantes seran participes de la busqueda del tesoro escondido en las islas Cachimbas, ¿podran superar todos los obstaculos? </p>
</center>

<button class="respuesta"> <a href="index">Volver</a></button>