<ul class="menu">  
 <li> <a href="Index">Inicio </a></li>
<li> <a href="Tutorial">Tutorial</a></li>
<li> <a href="Creditos">Sobre nosotros </a></li>
</ul>
<center>






<p> Ganador, campeon , maquina fiera, mastodonte, crack.</p>